# Core web and API
flask
flask-cors

# Environment variables
python-dotenv

# LangChain and LLM integrations
langchain
langchain-core
langchain-pinecone
langchain-groq
langchain-huggingface
langchain-community

# Vector DB
pinecone

# Embeddings and Transformers
sentence-transformers
huggingface-hub
transformers

# ML dependencies
scikit-learn
scipy
torch

# Other
Jinja2
gunicorn