# Firebase Configuration
VITE_API_KEY=your_firebase_api_key
VITE_AUTH_DOMAIN=your_firebase_auth_domain
VITE_PROJECT_ID=your_firebase_project_id
VITE_STORAGE_BUCKET=your_firebase_storage_bucket
VITE_MSG_SEND_ID=your_firebase_msg_send_id
VITE_APP_ID=your_firebase_app_id

# Google Maps API
VITE_MAP_API_KEY=your_google_maps_api_key

# Zego Cloud Configuration
VITE_ZEGO_APP_ID=your_zego_app_id
VITE_ZEGO_SERVER_SECRET=your_zego_server_secret